/* M2LO4 Embedded: Demonstrate external, embedded, and inline styles */
<@charset="utf-8" />


/* Structural Styles */
html{/* M2LO15: Apply colors using CSS */ /* M2LO3 Precedence: Demonstrate style precedence and inheritance in CSS */
    background-color: rgb(150, 10, 10);
}

body { /* M2LO12: Demonstrate how CSS can change presentation of page elements */
	background-color: burlywood
}

body > header > nav ul li {
	display: inline;
	padding-right: 25px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    color: #ffd900;
}

body > p { /* M2LO3 Inheritance: Demonstrate style precedence and inheritance in CSS */ /* M2LO6: Demonstrate a CSS id and a CSS class selector */ /* M2LO5: Demonstrate contextual selectors */
	font-size: 1em;
	text-align: center;
}

h1{
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;

}

h2 {
    color: rgb(255, 255, 74);
    font-size: 6em;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}

header { /* M2LO15: Apply colors using CSS */ /* M2LO14: Demonstrate and explain the use of progressive enhancement in CSS */
    background-color: rgb(175, 175, 175);
    background-color: hsl(0, 0%, 85%);
    color: white;
    text-align: center;
}

body { /* M2LO13: Demonstrate how CSS can change presentation of textual elements */
	margin: 0;
    padding: 5px 25px 25px 25px;
}

/* Navigation Styles */ 
nav a:hover { /* M2LO11 Pseudo-class: Demonstrate a pseudo-classes and a pseudo-element selector */
    color: yellow;
    background-color: hsla(0, 0%, 42%, 0.7);
}


/* Section Styles */
h1::first-line { /* M2LO11 Pseudo-elements: Demonstrate a pseudo-classes and a pseudo-element selector */ /* M2LO6: Demonstrate a CSS id and a CSS class selector */ /* M2LO7: Demonstrate a CSS attribute selector other than class or id */
    font-family: Impact, Charcoal, sans-serif;
}

*h1 { /* M2LO5: Demonstrate contextual selectors */
    color: yellow;
}

/* Definition List Styles */

